.CscIntroductionContainer {
    /*设置和上一个模块的距离*/
    margin-top: 30px;
    text-align: center;
}


.titleSection {
    /*设置标题和两边灰线的位置*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.titleSection h1 {
    /*设置标题文字样式*/
    z-index: 1;
    font-size: 20px;
    color: #000;
    margin: 0 10px; /* 控制标题与线条之间的固定间距 */
}

.titleSection::before,
.titleSection::after {
    /*设置标题两边灰线*/
    content: '';
    display: block;
    height: 1px;
    width: 25px;
    background-color: #ccc;
}

.titleSection span {
    /*设置文字下方蓝色线*/
    width: 280px;
    height: 6px;
    background-color: #c9dbf6;
    position: absolute;
    bottom: 5px;
}

.titleSection2 h2 {
    /*设置副标题文字样式*/
    margin: 0;
    font-size: 13px;
    font-family: 'PingFang SC-Light', 'Arial', sans-serif;
    font-weight: lighter;
    color: #ADADAD;
}

.introText p {
    /*设置中间文字介绍*/
    margin: 20px 10%;
    white-space: pre-line;/*这个是设置自动检测文本中的换行符并且换行*/
    font-size: 15px;
    line-height: 1.5;
}

.bottomSection {
    /*设置底部盒子总体样式和图片大小*/
    position: relative;
    margin: 0 auto;
    width: 95%;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
}


.bottomSection::before {
    /*通过伪元素来设置蒙版*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3); /* 黑色蒙层 */
}

/*下面都是设置文字的样式*/
.infoText {
    width: 100%;
    position: relative;
    z-index: 2;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
}

.text1 {
    position: relative;
}

.text1::before,
.text1::after {
    content: "";
    position: absolute;
    width: 65px;
    height: 0.5px;
    background-color: #D6D6D6;
    transform: rotate(-70deg); /* 旋转斜线 */
}

.text1::before {
    top: 50px;
    left: -65px;
}

.text1::after {
    top: 50px;
    right: -65px;
}

.text2 {
    font-size: 20px;
}

.text3 {
    font-size: 13px;
    font-weight: lighter;
}

/*当窗口增大到一定程度，文字增大，图片也变大*/
@media (min-width: 750px) {
    .bottomSection {
        height: 350px;
    }

    .text1::before,
    .text1::after {
        width: 120px;
    }

    .text2 {
        font-size: 40px;
        top: 100px;
    }

    .text3 {
        font-size: 26px;
        font-weight: lighter;
    }

    .text1::before {
        top: 100px;
        left: -230px;
    }

    .text1::after {
        top: 100px;
        right: -230px;
    }
}
