.carousel-container {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
}
.mySwiper {
  position: relative;
  z-index: 0; 
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-container .join-module {
  position: absolute;
  background-color: white;
  right: 0;

  top: 73%;
  width: 197px;
  height: 103px;
  color: #317fef;
  border-radius: 57px 0 0 57px;

  cursor: pointer;
  transition: transform 0.5s ease;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.join-module.hide {
  transform: translate(150%, -50%);
}
.join-module.show {
  transform: translateY(-50%);
}
.join-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1px 0 2px 13px;
}
.join-content p {
  width: 96px;
  height: 33px;
  font-family: ".PingFang SC", PingFang SC;
  font-weight: 600;
  font-size: 24px;
  color: #317fef;
  /* line-height: 33px; */
  text-align: center;
  font-style: normal;
  text-transform: none;
}
.join-content span {
  width: 94px;
  height: 24px;
  font-family: ".PingFang SC", PingFang SC;
  font-weight: 600;
  font-size: 17px;
  color: #317fef;
  letter-spacing: normal;
  text-align: center;
  font-style: normal;
  text-transform: none;
}

.joinIcon {
  position: absolute;
  bottom: -14%;
  left: 60%;
  transform: translateX(-50%);
  width: 32px;
  height: 32px;
  background: rgb(11, 11, 203);
  background: url("../assets/imgs/arrow.png") no-repeat;
  background-position: 42% 51%;
  border-radius: 50%;
}
@media (max-width: 750px) {
  .carousel-container .join-module {
    width: 150px;
    height: 80px;
  }

  .join-content p {
    font-size: 18px;
    line-height: 32px;
  }

  .join-content span {
    font-size: 14px;
    line-height: 20px;
  }
  .joinIcon {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 510px) {
  .carousel-container .join-module {
    width: 114px;
    height: 62px;
  }

  .join-content p {
    font-size: 16px;
    line-height: 37px;
    width: 96px;
    height: 33px;
  }

  .join-content span {
    font-size: 12px;
    line-height: 12px;
  }
  .joinIcon {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 400px) {
  .carousel-container .join-module {
    width: 96px;
    height: 54px;
  }

  .join-content p {
    font-size: 14px;
    line-height: 34px;
    width: 69px;
    height: 28px;
  }

  .join-content span {
    font-size: 10px;
    line-height: 13px;
  }
  .joinIcon {
    width: 20px;
    height: 20px;
  }
}
