/* 没用 */
/* body {
  font-size: 16px;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 900px) {
  body {
    font-size: 18px;
  }
} */

.carousel-container {
  position: relative;
  width: 100%;
  /* height: auto; */
  margin: auto;
  overflow: hidden;
}
/* @media (max-width: 768px) {
  .carousel-container {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .carousel-container {
    height: 150px;
  }
} */

.swiper {
  width: 100%;
  height: 100%;
}
.mySwiper {
  position: relative;
  z-index: 0; /* 确保其他定位元素能正常显示 */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-container .join-module {
  position: absolute;
  background-color: white;
  right: 0;
  /* top: 82%; */
  top: 70%;
  color: #317fef;
  border-radius: 43% 0 0 43%;
  padding: 11px 8px 15px 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.join-module.hide {
  transform: translateX(150%);
  /* transform: translate(150%, -50%); */
}
/* .join-module.show {
  transform: translateY(-50%);
} */

.join-content p {
  font-size: 2vw;
  font-weight: 600;
  margin: 0;
}
.join-content span {
  font-size: 2vw;
  font-weight: 600;
}

.joinIcon {
  position: absolute;
  bottom: -16%;
  left: 68%;
  transform: translateX(-50%);
  width: 22px;
  height: 22px;
  background: rgb(11, 11, 203);
  background: url("../assets/imgs/jiantou.png") no-repeat;
  background-position: 42% 51%;
  border-radius: 50%;
}
/* .joinIcon::after {
  content: "\2713";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #ff6f61;
} */
