.navbar {
    /* 这是导航栏的主体样式*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #317fef;
    color: white;
    position: relative;
    z-index: 9999;
    height: 100px;
    width: 100%;
}



.iconLeftBox{
    /*下面这四个是设置左右图标的位置和大小*/
    height: 45px;
    width: 180px;
    margin-left: 25px;
}
.navLeftImg {
    height: 100%;
    width: 100%;
}
.iconRightBox{
    height: 30px;
    width: 38px;
    margin-right: 25px;
}
.navRightImg{
    height: 100%;
    width: 100%;
}


.dropdown {
    /*这是设置下拉框的位置，样式*/
    position: absolute;
    height: 0;
    top: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: height 0.5s ease,opacity 0.5s ease;
    z-index: 999;
}
.visible1{
    height: 496px;
    opacity: 1;
}
.dropdownItem {
    /*这是设置下拉框里面元素的样式*/
    height: 70px;
    border-bottom: 1px solid #e6e6e6;
    color: #000000;
    line-height: 70px;
    padding-left: 25px;
    font-size: 17px;
}
.dropdownItem:last-child {
    /*设置下拉框最后一个元素没有下边框，也就是那条分割线*/
    border-bottom: none;
}


.overlay {
    /*设置遮罩层样式*/
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: calc(100vh - 100px);
    background: rgba(0,0,0,.5);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 998;
}
.visible2{
    opacity: 1;
    pointer-events: auto;
}

