.titleSection {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 2%;
}

.titleSection h1 {
    z-index: 1;
    font-size: 20px;
    color: #000;
    margin: 0 10px; 
}

.titleSection::before,
.titleSection::after {
    content: '';
    display: block;
    height: 1px;
    width: 25px;
    background-color: #ccc;
}

.titleSection span {
    width: 100px;
    height: 6px;
    background-color: #c9dbf6;
    position: absolute;
    bottom: 5px;
}