.groupSection {
    text-align: center;
    margin-top: 20px;
}


.groupTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}

.groupTitle h1 {
    z-index: 1;
    font-size: 20px;
    color: #000;
    margin: 0 10px; 
}

.groupTitle span {
    width: 145px;
    height: 6px;
    background-color: #c9dbf6;
    position: absolute;
    bottom: 5px;
}

.groupTitle::before,
.groupTitle::after {
    content: '';
    display: block;
    height: 1px;
    width: 25px;
    background-color: #ccc;
}


.groupContainer {
    display: flex;
    justify-content: space-evenly;
}

.groupCard {
    height: 230px;
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
}



.groupCard_0::before {
    background-color: rgba(62, 132, 232, 0.8); 
}

.groupCard_1::before {
    background-color: rgba(71, 163, 234, 0.8); 
}

.groupCard_2::before {
    background-color: rgba(61, 106, 225, 0.9); 
}


.cardContent {
    padding: 10px;
}

.cardContent h2 {

    position: relative;
    z-index: 2;
    font-size: 14px;
    margin-bottom: 5px;
    color: #FFFFFF;
    text-align: center;

}

.cardContent h3 {

    position: relative;
    z-index: 2;
    font-size: 16px;
    margin-bottom: 10px;
    color: #FFFFFF;
    text-align: center;
}

.cardContent p {

    position: relative;
    z-index: 2;
    font-size: 13px;
    color: #FFFFFF;
    line-height: 1.5;
    text-align: justify;
}

@media (min-width: 1000px) {

    .cardContent h2 {
        margin: 0;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .cardContent h3 {
        margin: 0;
        font-size: 26px;
        margin-bottom: 5px;
    }

    .cardContent p {
        margin: 0;
        font-size: 23px;
    }
}

