.visionContainer {
    width: 90%;
    margin: 0 5%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

.upImg, .text1, .text2, .downImg {
    height: 140px;
    margin-top: 25px;
}

.upImg, .downImg {
    width: 50%;
    border-radius: 10px;
    position: relative;
}

.upImg::before {
    content: '';
    height: 80px;
    width: 70%;
    background-color: #317fef;
    position: absolute;
    top: -5px;
    left: -5px;
    border-radius: 10px;
    z-index: 1;
}

.downImg::after {
    content: '';
    height: 80px;
    width: 70%;
    background-color: #317fef;
    position: absolute;
    bottom: -5px;
    right: -5px;
    border-radius: 10px;
    z-index: 1;
}
.upImg img,.downImg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}
.text1, .text2 {
    width: 45%;
}

.visionTitle, .missionTitle {
    margin: 0;
    color: #317FEF;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 14px;
}

.missionTitle {
    margin-top: 8px;
}

.text1 h2, .text2 h2 {
    margin: 0;
    font-size: 20px;
    margin-top: 5px;
    white-space: pre-line; 
    line-height: 1.5;
}

.text2 {
    text-align: right;
}

.desc1, .desc2 {
    font-size: 14px;
}

@media (min-width: 650px) {
    .upImg, .text1, .text2, .downImg {
        height: 280px;

    }

    .visionTitle, .missionTitle {
        font-size: 25px;
        font-weight: bolder;
        margin-top: 24px;
    }

    .missionTitle {
        margin-top: 18px;
    }

    .text1 h2, .text2 h2 {
        margin: 0;
        font-size: 30px;
        margin-top: 15px;
        white-space: pre-line; 
        line-height: 1.5;
    }

    .text2 {
        text-align: right;
    }

    .desc1, .desc2 {
        font-size: 24px;
    }

    .upImg::before {
        height: 140px;
        top: -10px;
        left: -10px;
    }
    .downImg::after {
        height: 140px;
        bottom: -10px;
        right: -10px;
    }
}
